@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Overpass:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------- INDEX PRINCIPAL ---------------------------------------------------------------------------- */

#sec1,#sec2,#sec3{
  height: 100vh;
}

.bodyIndex {
background-image: url(./Cosas/fondo2.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.headerIndex{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 10px;
}

.headerIndex a{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  display: inline-block;
  font-size: 25px;
}

.headerIndex a:hover{
  font-size: 40px;
  transition: 1s;
}

.texto-contenedor{
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.titulo2{
  text-shadow: 1px 3px gray;
  font-family: 'Kalam', cursive;
  margin-bottom: 10PX;

}

.titulo1{
  text-shadow: 2px 4px gray;
  font-family: 'Kalam', cursive;
  margin-bottom: 10px;
}

.ver1{
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
}

.ver2{
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
}

.ver1:hover{
  color: rgb(167, 158, 158)
}

.ver2:hover{
  color: rgb(167, 158, 158)
}

.texto-contenedor2{
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transform: translateY(50%);
}

.texto-contenedor2 img{
  width: 370px;
  height: 300px;
  object-fit: cover;
  border: 0.5px solid white;
  box-shadow: 10px 10px 15px 15px rgba(0, 0, 0, 0.50);
  text-align: 50%;
  margin-bottom: 20px;
}

.texto-contenedor2 img:hover{
  opacity: 0.9;
  transition: .4s all;
}

.seccionN3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  transform: translateY(85%);
}

.info{
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  
}

.about,.page{
  text-align: center;
padding: 20px;
border: 1px solid white;
margin-bottom: 20px;
box-shadow: inset 0 1px 3px #ddd;
}

.volverAIndex{
  text-align: center;
padding: 20px;
border: 1px solid white;
box-shadow: inset 0 1px 3px #ddd;
}

.about a:hover{
  color: rgb(167, 158, 158);
}

.page a:hover{
  color: rgb(167, 158, 158);
}

.volverAIndex a:hover{
  color: rgb(167, 158, 158);
}

.about a, .page a,.volverAIndex a{
  color: white;
  text-decoration: none;
}

.climaIndex{
  border: 1px solid white;
display: inline-block;
  margin-right: 200px;
  box-shadow: #ccc;
  padding: 5px;
  box-shadow: inset 0 1px 3px #ddd;
}

.climaFoto{
  color: white;
font-size: 50px;
}

.climaFoto:hover{
  color: rgb(179, 172, 172);
}

.climaPar{
  color: white;
  font-size: 20px;
  font-family: 'Overpass', sans-serif;
}

.sp1,.sp2{
  color: white;
  font-size: 30px;
}

/* --------------------------------------------------------------- LOGIN --------------------------------------------------------------------- */

.bodyLog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(85, 78, 78), rgb(117, 140, 176));
  font-family: 'Overpass', sans-serif;
}

.formLogin {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px #252525;
}

.formLogin .tituloLogin {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

.formLogin label {
  margin-bottom: 35px;
}

.formLogin label .fa-solid {
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

.formLogin label input {
  outline: none;
  border: none;
  color: #252525;
  border-bottom: solid 1px black;
  padding: 0 5px;
  font-size: 18px;
}

.formLogin label input::placeholder {
  color: rgba(37, 37, 37, 0.5);
  font-size: 10px;
}

.formLogin .link {
  color: rgb(84, 84, 131);
  margin-bottom: 35px;
}

.formLogin button {
  color: white;
  border: none;
  background: linear-gradient(to right, rgb(85, 78, 78), rgb(117, 140, 176));
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
}

.checkbox {
  margin-bottom: 20px;
  color: black;
}

.Tienda {
  color: white;
  border: none;
  background: linear-gradient(to right, rgb(38, 142, 202), rgb(160, 34, 124));
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
}

.Tienda a {
  color: white;
  text-decoration: none;
}

/* --------------------------------------------------------- Consulta Tu Clima ----------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.bodyClima {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(64, 55, 55);
}

.weather-content {
  box-shadow: rgba(146, 215, 233, 0.25) 0px 50px 100px -20px, rgba(163, 149, 149, 0.3) 0px 30px 60px -30px, rgba(85, 121, 158, 0.35) 0px -2px 6px 0px inset;
  max-width: 501px;
  text-align: center;
  padding: 20px 20px 50px;
  margin: 10% auto 0;
  background-color: #425c86;
  border-radius: 9px;
}

.weather-content h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
}

.weather-content p {
  color: #cfcfd9;
}

.result {
  margin-bottom: 8%;
}

.result p {
  margin: 5px 0 5px;
}

.result h2 {
  font-size: 70px;
  line-height: 70px;
  margin: -10px 0 10px;
  color: #fff;
}

.result h5 {
  font-size: 21px;
  margin: 2px;
  color: #fff;
}

.formClima {
  display: flex;
  flex-direction: column;
}

.formClima .inputClima1[type="text"],
form .inputClima[type="submit"],
form select {
  width: 100%;
  margin: 0px 0 25px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Montserrat', sans-serif;
}

.formClima .inputClima[type="submit"] {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  background-color: #14d4a5;
  border: 1px solid #14d4a5;
  color: #fff;
  font-weight: 600;
  transition: width 1s;
  margin-bottom: 25px;
}

.formClima .inputClima[type="submit"]:hover {
  width: 50%;
}

.alert-message {
  margin: 24px 0 0;
  color: red !important;
}

.volver{
  color: white;
  text-decoration: none;
  align-items: center;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 27px;
}

/*----------------------------------------------------------------- Gin Tonics ------------------------------------------------------------------*/

.bodyGines {
  background-image: url(./Cosas/Background.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.headerGin {
  box-shadow: rgb(0, 0, 0) 0px 5px 25px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}

.logoIzq img {
  height: 100px;
  width: 100px;
}

.nombrePrinc h3 {
  color: white;
  text-shadow: 2px 4px gray;
  text-align: center;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 70px;
  transform: translateX(63px);
}

.headerGin ul {
  padding: 10px;
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.headerGin a {
  color: white;
}

.tituloGin {
  color: rgb(242, 242, 242);
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  text-shadow: 7px 4px 8px rgba(24, 24, 221, 0.753);
}

.columna {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.card {
  border: 1px solid white;
}

.card h5 {
  color: white !important;
  font-family: 'Dancing Script', cursive;
}

.cards img {
  height: 290px;
  margin-bottom: 3px;
}

.cards2 {
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

header,
.alert {
  z-index: 100;
}

.description {
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}

.description:hover {
  height: 80px;
}

.hide,
.remove {
  display: none;
}

.thCar {
  color: white;
  font-family: 'Overpass', sans-serif;
}

button a {
  text-decoration: none;
  color: white;
}

/* ---------------------------------------------------- Carrito -------------------------------------------------------------------------------- */

.carrito {
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
}

.table__productos {
  display: flex;
}

.table__productos>img {
  height: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}

.table__cantidad>input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

.row {
  font-family: 'Dancing Script', cursive;
}

.col {
  display: flex;
  justify-content: end;
}

.itemCartTotal {
  color: white;
}

.btn {
  border: 1px solid white;
}

.alert {
  position: sticky;
  top: 0;
}

/* -------------------------------------------------------------- Sobre Nosotros ---------------------------------------------------------------*/

.columnaNosotros{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}

.nosotros{
  width: 350px;
  margin-bottom: 50px;
}

.parrafo{
  padding: 6px;
  border: solid 2px gold;
  color: white;
  font-size: 20px;
  font-family: 'Overpass', sans-serif;
}

.nosotros a{
  color: white;
  text-decoration: none;
}

.nosotros a:hover{
font-size: 40px;
transition: 2s all;
}

.volverIndex a{
  color: white;
  text-decoration: none;
  display: inline-block;
  border: 2px solid gold;
  padding: 20px;
}